# Copy or rename this file to .env and fill in your values.

ADMIN_USERNAME=Admin
ADMIN_PASSWORD=44MyPa$$word27
USER_USERNAME=Main
USER_PASSWORD=86MyPa$$word55
WINDOWS_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX
WINDOWS_VERSION=Windows 11 Pro
COMPUTER_NAME=THE-MACHINE
TIME_ZONE=Central Standard Time
LOCALE=en-001
